<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-feature android:name="android.hardware.camera" android:required="false" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="28" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DoAn"
        android:usesCleartextTraffic="true">

        <!-- Start Activity as Launcher -->
        <activity
            android:name=".Activities.StartActivity"
            android:exported="true"
            android:theme="@style/Theme.DoAn">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Splash Screen -->
        <activity
            android:name=".Activities.SplashActivity"
            android:exported="false"
            android:theme="@style/Theme.DoAn" />

        <!-- Main Activity -->
        <activity
            android:name=".Activities.MainActivity"
            android:exported="false" />

        <!-- Welcome Activity -->
        <activity
            android:name=".Activities.WelcomeActivity"
            android:exported="false"
            android:theme="@style/Theme.DoAn" />

        <!-- Login Activity -->
        <activity
            android:name=".Activities.LoginActivity"
            android:exported="false"
            android:theme="@style/Theme.DoAn" />

        <!-- Register Activity -->
        <activity
            android:name=".Activities.RegisterActivity"
            android:exported="false"
            android:theme="@style/Theme.DoAn" />

        <!-- OTP Activity -->
        <activity
            android:name=".Activities.OtpActivity"
            android:exported="false"
            android:theme="@style/Theme.DoAn" />

        <!-- Other Activities -->
        <activity
            android:name=".Activities.AddProductActivity"
            android:exported="false"
            android:theme="@style/Theme.DoAn"/>
        <activity
            android:name=".Activities.AccountActivity"
            android:exported="false"
            android:theme="@style/Theme.DoAn"/>
        <activity
            android:name=".Activities.SettingsActivity"
            android:exported="false"
            android:theme="@style/Theme.DoAn"/>
        <activity
            android:name=".Activities.UserProfileActivity"
            android:exported="false"
            android:theme="@style/Theme.DoAn"/>

    </application>

</manifest>