<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- TÁC DỤNG: Khai báo các quyền mà ứng dụng cần để hoạt động. -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-feature android:name="android.hardware.camera" android:required="false" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="28" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <!-- Voice Order Permission -->
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>

    <application
        android:name=".UTETeaApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DoAn"
        android:usesCleartextTraffic="true">

        <!-- Khai báo khóa API cho Google Maps. -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <!-- YÊU CẦU: Thêm khai báo cho các Activity mới. -->
        <!-- TÁC DỤNG: Khai báo tất cả các Activity để hệ điều hành Android có thể khởi chạy chúng. -->
        <activity
            android:name=".Activities.ResetPasswordActivity"
            android:exported="false"/>
        <activity
            android:name=".Activities.ForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.ChangePasswordActivity"
            android:exported="false" />

        <activity
            android:name=".Activities.StartActivity"
            android:exported="true"
            android:theme="@style/Theme.DoAn">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Activities.SplashActivity"
            android:exported="false"
            android:theme="@style/Theme.DoAn" />

        <activity
            android:name=".Activities.MainActivity"
            android:exported="false" />

        <activity
            android:name=".Activities.WelcomeActivity"
            android:exported="false"
            android:theme="@style/Theme.DoAn" />

        <activity
            android:name=".Activities.LoginActivity"
            android:exported="false"
            android:theme="@style/Theme.DoAn" />

        <activity
            android:name=".Activities.RegisterActivity"
            android:exported="false"
            android:theme="@style/Theme.DoAn" />

        <activity
            android:name=".Activities.OtpActivity"
            android:exported="false"
            android:theme="@style/Theme.DoAn" />

        <activity
            android:name=".Activities.ProductDetailActivity"
            android:exported="false"
            android:theme="@style/Theme.DoAn" />
            
        <activity
            android:name=".Activities.ProductDetailNewActivity"
            android:exported="false"
            android:theme="@style/Theme.DoAn" />
            
        <activity
            android:name=".Activities.CartActivity"
            android:exported="false"
            android:theme="@style/Theme.DoAn" />

        <activity
            android:name=".Activities.OrderDetailActivity"
            android:exported="false"
            android:theme="@style/Theme.DoAn" />

        <!-- YÊU CẦU: Khai báo Activity mới cho màn hình Lịch sử đơn hàng. -->
        <activity
            android:name=".Activities.OrderHistoryActivity"
            android:exported="false"
            android:theme="@style/Theme.DoAn" />

        <activity android:name=".Activities.AddProductActivity" />
        <activity android:name=".Activities.AccountActivity" />
        <activity android:name=".Activities.SettingsActivity" />
        <activity android:name=".Activities.UserProfileActivity" />
        
        <activity
            android:name=".Activities.ManagerActivity"
            android:exported="false"
            android:theme="@style/Theme.DoAn" />
        
        <activity
            android:name=".Activities.CategoryActivity"
            android:exported="false"
            android:theme="@style/Theme.DoAn" />
        
        <activity
            android:name=".Activities.AddEditDrinkActivity"
            android:exported="false"
            android:theme="@style/Theme.DoAn" />
        
        <activity
            android:name=".Activities.AddEditCategoryActivity"
            android:exported="false"
            android:theme="@style/Theme.DoAn" />
        
        <activity
            android:name=".Activities.VNPayPaymentActivity"
            android:exported="false"
            android:theme="@style/Theme.DoAn" />
        
        <activity
            android:name=".Activities.ChatbotActivity"
            android:exported="false"
            android:theme="@style/Theme.DoAn" />

    </application>

</manifest>